# Copyright 2023-present, Mark Delk
# SPDX-License-Identifier: Apache-2.0

name: macos

on:
  push:
    branches: ["gh-ci-macos"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    timeout-minutes: 25
    env:
      CI: true
      HOMEBREW_NO_INSTALL_CLEANUP: true
      ZIG: zig-macos-aarch64-0.12.0-dev.3496+a2df84d0f
    runs-on: macos-14

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: check for cached zig
        id: cache-zig
        uses: actions/cache@v4
        with:
          path: ${{ env.ZIG }}
          key: ${{ env.ZIG }}

      - if: ${{ steps.cache-zig.outputs.cache-hit != 'true' }}
        name: download and untar zig tarball
        run: |
          wget -nv https://ziglang.org/builds/${ZIG}.tar.xz
          tar xf ${ZIG}.tar.xz

      - name: add zig to PATH
        run: |
          echo ${PWD}/${ZIG} >> $GITHUB_PATH

      - name: zig version
        run: |
          zig version

      - name: build x86_64
        run: |
          zig build -Dtarget=x86_64-macos.10.13...14.4.1-none -p vosk/x86_64-macos -Doptimize=ReleaseFast --summary all --verbose

      - name: build aarch64
        run: |
          zig build -Dtarget=aarch64-macos.11.0...14.4.1-none -p vosk/aarch64-macos -Doptimize=ReleaseFast --summary all --verbose

      - uses: actions/upload-artifact@v4
        with:
          name: vosk
          path: |
            vosk
            !**/*.DS_Store
          if-no-files-found: error
          retention-days: 1
